<meta charset="utf-8">
<meta author="Guilherme Cardoso <guilherme.cardoso-oliveira@unesp.br>">
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">

<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>Teste IBM Watson - D1 Smarkio | Guilherme Cardoso</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">