/* Author : Guilherme Cardoso <guilherme.cardoso-oliveira@unesp.br>
 * Date   : 2021-09-03
 * License: MIT
 */

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');


/* VARS */
:root {
	/* Theme  */
  --primary: #007bff;
  --primary-dark: #0062cc;
  --on-primary: #ffffff;

  /* Comments */
  --newer-comment-bg: #caf7d6;
  --newer-comment-tag: #6dde8b;

  /* Feedbacks */
  --error: #f8d7da;
  --on-error: #721c24;

  --warning: #fff3cd;
  --on-warning: #856404;

  --success: #d4edda;
  --on-success: #155724;

  --info: #cce5ff;
  --on-info: #004085;
}


/* REBASE */
html, body, div, section, input, span, button, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html, body {
	height: 100%;
	overflow:  hidden;
}

body {
	display: flex;
	background-color: #f5f5f5;
	line-height: 1;
	font-family: Roboto;
}

.section-title {
	font-weight: bold;
	margin: 10px 0;
}


/* GRID */
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	padding:  20px;
	box-sizing: border-box;
}

.section--form-comment,
.section--list-comments {
	display: block;
	width: 50%;
}
.section--list-comments {
	max-height: 100%;
	overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
	.section--form-comment,
	.section--form-comment {
		width: 100%;
	}
}


/* FORMS */
form {
	padding: 0 20px 20px;
}

textarea {
	resize: none;
	width:  100%;
	min-height:  150px;
	box-sizing: border-box;
}

.btn {
	border: 1px solid rgba(0,0,0,0.2);
	text-align: center;
	padding: 6px 20px;
	margin: 10px 0;
	border-radius: .2rem;
	background-color: var(--primary);
	color: var(--on-primary);
	cursor: pointer;
}

.btn:hover {
	background-color: var(--primary-dark);
	transition: background-color .2s ease-in;
}

.btn:active {
	transform: translateY(1px);
}

.btn-block {
	display: block;
  width: 100%;
}


/* COMMENT FORM */
#form-comment {
	max-width: 400px;
	left:  0;
	right: 0;
	margin: 0 auto;
}


/* LIST OF COMMENTS */
#list-comments {
	left:  0;
	right: 0;
	margin: 0 auto;
}

.comment-item {
	position: relative;
	display: table;
	width: 100%;
	padding: 5px 0 5px 30px;
	box-sizing: border-box;
	margin: 5px 0;
}

.comment-item[data-newer='true'] {
	background-color: var(--newer-comment-bg);
}

.comment-item[data-newer='true']:before {
	content: 'new';
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--newer-comment-tag);
	color: black;
	padding: 2px;
	font-size: 13px;
}

.comment-box-text {
	padding: 0 10px;
}

.comment-box-text span.comment-text {
	width: 100%;
	word-wrap:break-word;
}

.comment-box-text,
.comment-box-listen {
	display: table-cell;
}

.comment-box-text {
	width:  80%;
}

.comment-box-listen audio {
	display: none;
}


/* FEEDBACK - ALERTS */
.alert,
.alert.alert-info {
	padding: 15px 20px;
	background-color: var(--info);
	color:  var(--on-info);
}

.alert.alert-error {
	background-color: var(--error);
	color:  var(--on-error);
}

.alert.alert-warning {
	background-color: var(--warning);
	color:  var(--on-warning);
}

.alert.alert-success {
	background-color: var(--success);
	color:  var(--on-success);
}


/* Error 404 */
#error-404 {
	margin: auto;
	font-size: 60px;
	color: #757575;
}

#error-404:before {
	position: absolute;
	content: ":S";
	color: rgba(0,0,0,0.05);
	font-size: 500px;
	top: 30px;
}