<!DOCTYPE html>
<html>
<head lang="pt-br">
	<meta charset="utf-8">
	<meta author="Guilherme Cardoso <guilherme.cardoso-oliveira@unesp.br>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<title>Teste Watson - D1 Smarkio | Guilherme Cardoso</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

	<main class="container">
		<section class="section--form-comment">
			<form class="form-comment">
				<label for="field-comment" class="form-label"><h2 class="section-title">Comentário</h2></label>
				<textarea id="field-comment" class="form-control" textarea="500"></textarea>
				<input type="submit" value="Cadastrar" class="btn btn-block">
			</form>
		</section>

		<section class="section--list-comments">
			<div class="list-comments">
				<h2 class="section-title">Comentários</h2>
 				
 				<% for(var i=0; i < comments.length; i++) { %>
 				<div class="comment-item">
 					<div class="comment-box-text">
 						<span class="comment-text"><%= comments[i].comment %></span>
 					</div>

 					<div class="comment-box-button">
 						<button type="button" class="btn comment-listen">Ouvir</button>
 					</div>
 				</div>
 				<% } %>
 				
			</div>
		</section>
	</main>
</body>
</html>